body, * {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    box-sizing: border-box;
}

/* o gradiente que voce queria */

#grad1 {
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0.274), rgb(235, 5, 5));

}

.showcase {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dotted black;
/* background-color: wheat;  eu sempre coloco backgroud color para ver como esta ficando os containers, e depois apago. */
    
}

.showcase-titulo {
    padding: 10px 10px 10px 20px;
    color: rgb(255, 255, 255);
    
    text-transform: uppercase;
   
}

.showcase-titulo h1 {
    font-size: 30px; 
}

.logo {
    background-color: aquamarine;
}

.showcase-nav {

    width: 300px;
    padding: 10px 10px 10px 10px;
}

.conteudo-banners {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.conteudo-banners div {
    display: flex;
    justify-content: center;
}
.conteudo-banners div img{
    
    height: 300px;
}
.rodape {
    background-color: rgb(2, 2, 2);
    height: 60px;
    bottom: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}


.rodape span {
    color: rgb(207, 132, 18);
    margin-left: 20px;
    padding: 4px 4px 4px 4px;
}

.rodape a  {
    text-decoration: none;
    color: rgb(207, 132, 18);
    margin-right: 20px;
    text-transform: uppercase;
    padding: 4px 4px 4px 4px;
}

